@font-face {
    font-family: 'MetropolisItalic';
    src: url('../fonts/metropolis/Metropolis-RegularItalic.otf')
}

@font-face {
    font-family: 'metropolisLight';
    src: url('../fonts/metropolis/Metropolis-Light.otf')
}

@font-face {
    font-family: 'metropolis';
    src: url('../fonts/metropolis/Metropolis-Regular.otf')
}

@font-face {
    font-family: 'corbelitalic';
    src: url('../fonts/corbel/corbeli.ttf')
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #333C44;
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 70%;
    position: relative;
    top: 50px;
    left: 50px;
}

.time {
    color: white;
    position: relative;
    top: 30px;
    font-family: metropolisLight;
    right: 50px;
}

.container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.quote {
    color: white;
    text-align: center;
}

.lines {
    align-self: center;
    font-family: 'Playfair Display';
    width: 70%;
    margin: 0 auto;
}

.lines span {
    display: inline;
    vertical-align: middle;
    font-size: 2.3em;
}

.lines i {
    position: relative;
    opacity: 0.5;
    left: -5px;
}

.tools {
    display: flex;
    justify-content: center;
    margin-left:45%;
}

.auth {
    font-family: MetropolisLight;
    position: relative;
    display: block;
    top: 30px;
}

.like {
    width: 60px;
    height: 27px;
    background: white;
    border-radius: 50px;
    color: black;
    position: relative;
    top: 39px;
    margin-left: 20px;
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.like > p {
    margin: 0;
    padding-top: 6px;
    font-family: metropolisLight;
    padding-left: 7px; 
}

.like > i {
    margin: 0;
    padding-top: 6px;
}

.heart {
    margin: 0;
    padding-top: 6px;
}

.heart_red {
    color: red;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.podcast {
    width: 120px;
    height: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    left: 100px;
    font-family: metropolis;
    text-align: center;
}

.podcast p {
    margin-top: 10px;
}

.category {
    display: flex;
}

.current {
    margin-right: 50px;
    font-family: metropolis;
    color: white;
    opacity: 0.5;
}

.button {
    width: 120px;
    height: 35px;
    border-radius: 2px;
    background-color: white;
    margin-right: 50px;
    display: flex;
    font-family: metropolis; 
    font-size: 0.85em;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.button i {
    padding-right: 10px;
    padding-top: 5px;
}

.button p {
    padding-left: 10px;
}

.cats {
    /* display: none; */
    height: 0px;
    position: absolute;
    bottom: 10%;
    background-color: white;
    width: 120px;
    border-radius: 2px;
    text-align: center;
}

ul {
    padding: 0;
}

.hide {
    margin-top: 15%;
    list-style: none;
    opacity: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.transform {
    transition: all 2s ease-out;
}

.transform_back {
    transition: all 1s ease-out;
}

.show {
    margin-top: 15%;
    list-style: none;
    opacity: 1;
}
