<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../styles/register.css">
    <script src="https://kit.fontawesome.com/c914e8ea9f.js"></script>
</head>
<body>
    <section class="header">
        <div class="logo">
            <img src="../logos/logobigblack.png" id="logo">
        </div>
    </section>
    <section class="container">
        <div class="title">
            <p>Choose your category!</p>
        </div>
        <div class="cards">
            <!-- <i class="fas fa-chevron-circle-left"></i> -->
                <!-- <div class="glide__track" data-glide-el= "track"> -->
                    
                <div class="shadow-drop card card-1">
                        <p class="head">Life</p>
                        <div class="secondary">
                            <p class="likes">xx likes</p>

                        </div>  
                </div>
            
        
                <div class="shadow-drop card card-2">
                        <p class="head">Motivate</p>
                        <div class="secondary">
                            <p class="likes">xx likes</p>

                        </div>  
                </div>
            
        
                <div class="shadow-drop card card-3">
                        <p class="head">Love</p>
                        <div class="secondary">
                            <p class="likes">xx likes</p>

                        </div>  
                </div>
                        
                <div class="shadow-drop card card-4">
                    <p class="head">Nature</p>
                    <div class="secondary">
                        <p class="likes">xx likes</p>
                    </div>  
                </div>
        
    
            <div class="shadow-drop card card-5">
                    <p class="head">Anime</p>
                    <div class="secondary">
                        <p class="likes">xx likes</p>
                    </div>  
                </div>
        
    
            <div class="shadow-drop card card-6">
                    <p class="head">Spiritual</p>
                    <div class="secondary">
                        <p class="likes">xx likes</p>
                    </div>  
                </div>       
            <!-- <i class="fas fa-chevron-circle-right"></i> -->
        </div>
        <div class="back">
            
        </div>
    </section>
</body>
<script src="../scripts/bundle2.js"></script>
</html>